*{
    font-family: 'Poppins' , sans-serif;
}
body{
    background-color: #AB8DEC;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: black;
    font-size: medium;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 360px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: black;
    padding: 0 0 0 40px;
    background: rgba(255, 255, 255, 0.1);
}

.button{
    font-size: 15px;
    border: none;
    color: #d4bcbc;
    background: #7956c5; 
    width: 150px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.button input{
    background: #7956c5; 
    border: none;
    cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    color: black;
}
.left{
    display: flex;
}
a {
    color: #3c3845;
}

a:visited {
    color: #7956c5;
}

a:hover, a:active {
    color: #eee;
}

